<!DOCTYPE html>
<html lang="en">

<head> 
    <link rel='stylesheet' href='static\styles\index.css'/>

    <title>Home Page</title> 
</head>


<body> 
    <div class='header'>
        <h1> Bikes Rental App</h1>
        <p> welcome to our application where you can predict profit from bikes rental</p>
    </div>

    <div> 
        <form action="/predict" method="POST">
            <label for="wtt">WTT</label><br>
            <input type='number' step="1" id='wtt' name='wtt'><br><br>

            <label for="pti">PTI</label><br>
            <input type='number' step="1" id='pti' name='pti'><br><br>

            <label for="eqw">EQW</label><br>
            <input type='number' step="1" id='eqw' name='eqw'><br><br>

            <label for="sbi">SBI</label><br>
            <input type='number' step="1" id='sbi' name='sbi'><br><br>

            <label for="lqe">LQE</label><br>
            <input type='number' step="1" id='lqe' name='lqe'><br><br>

            <label for="qwg">QWG</label><br>
            <input type='number' step="1" id='qwg' name='qwg'><br><br>

            <label for="fdj">FDJ</label><br>
            <input type='number' step="1" id='fdj' name='fdj'><br><br>

            <label for="pjf">PJF</label><br>
            <input type='number' step="1" id='pjf' name='pjf'><br><br>

            <label for="hqe">HQE</label><br>
            <input type='number' step="1" id='hqe' name='hqe'><br><br>

            <label for="nxj">NXJ</label><br>
            <input type='number' step="1" id='nxj' name='nxj'><br><br>

            <input type="Submit" value="Predict" />
        </form>
        
    </div>


</body>